:root {
  --light-cream-color: #fff8e7;
  --sky-blue-color: #e7f5ff;
  --button-color: #1e3a8a;
  --button-hover-color: #1f3268;
  --charcoal-gray-color: #333333;
  --colar-orange-color: #ff6b6b;
  --soft-small-text-color: #cccccc;
  
  --large-font: 28px;
  --larger-font: 32px;

  --padding: 1.5rem;
  --padding-light: .5rem;
  --radius:2rem;

  --transition-time: .5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 24px;
  font-family: "Inter", "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-image: linear-gradient(
    60deg,
    var(--light-cream-color),
    var(--sky-blue-color)
  );
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.no-topic{
    color: var(--charcoal-gray-color);
}
h1{
    padding: var(--padding);
    text-align: center;
    max-width: 600px;
}
button{
    border: none;
    padding: var(--padding);
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition-time);
    color: var(--light-cream-color);
}
button:hover{
    scale: 1.05;

}
.btn-pick{
    background-color: var(--button-color);
    font-size: var(--large-font);
    font-weight: bold;
    box-shadow:-5px 5px 1px black ;
}
.btn-pick:hover{
    background-color: var(--button-hover-color);
    box-shadow:5px 5px 1px black ;

}
.timer{
    color: var(--colar-orange-color);
    font-weight: bold;
    position: relative;
    cursor: default;
}

.btn-pause{
    padding: var( --padding-light);
    background-color: var(--charcoal-gray-color);
    box-shadow: 1px 1px 1px black;
}

.btn-pause:hover{
  background-color: var(--button-hover-color);
  color: var(--light-cream-color);
}
